/*
HEX: #cfe0e8
HEX: #b7d7e8
HEX: #87bdd8
HEX: #daebe8
*/

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.game-container {
    width: min(80vw, 80vh);
    margin: auto;
    padding-top: calc((100vh - min(80vw, 80vh)) / 2);
}

.cell-grid-container {
    display: grid;
    grid-template-columns: repeat(9, 3px 10fr) 3px;
    grid-template-rows: repeat(9, 3px 10fr) 3px;
    background-color: #87bdd8;
    padding: 3px;
}

.item-corner-solid {
    background-color: black;
}
.item-edge-vertical-solid {
    background-color: black;
}
.item-edge-horizontal-solid {
    background-color: black;
}
.item-corner-none {
    background-color: #87bdd8;
}
.item-edge-vertical-none {
    background-color: #87bdd8;
}
.item-edge-horizontal-none {
    background-color: #87bdd8;
}

.item-cell {}

.item-cell div {
    padding-top: 100%;
}

.item-cell-empty div {
    background-color: #daebe8;
}
.item-cell-star div {
    background-color: #daebe8;
    background-image: url("/images/star.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.item-cell-no-star{
    background-color: #daebe8;
    background-image: url("/images/circle.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}